<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title>
    <link href="/static/css/slide navbar style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <input aria-hidden="true" id="chk" type="checkbox">
    <div class="signup">
        <form>
            <label aria-hidden="true" for="chk">Sign up</label>
            <input name="txt" placeholder="User name" required="" type="text">
            <input name="email" placeholder="Email" required="" type="email">
            <input name="pswd" placeholder="Password" required="" type="password">
            <button>Sign up</button>
        </form>
    </div>
    <div class="login">
        <form>
            <label aria-hidden="true" for="chk">Login</label>
            <input name="email" placeholder="Email" required="" type="email">
            <input name="pswd" placeholder="Password" required="" type="password">
            <button>Login</button>
        </form>
    </div>
</div>
</html>